.import/*
export/Output/*
export/Portan Ignis.exe

# sounds
resource/sounds/clicks/2.wav*
resource/sounds/ignis/flameOff.wav*
resource/sounds/ignis/IgnisOn.wav*
resource/sounds/ignis/loop.wav*
resource/sounds/monster/1.wav*
resource/sounds/monster/2.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanDeath1.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanDeath2.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanYell1.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanYell2.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanYell3.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanYell4.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/humanYell5.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/preview.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieDeath1.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieDeath2.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieDeath3.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieDeath4.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell1.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell2.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell3.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell4.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell5.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell6.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell7.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell8.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell9.wav*
resource/sounds/monster/pack/Voice Effects Zombie-Skeleton-Monster Human Male/zombieYell10.wav*
resource/sounds/objects/pickUpSouind.wav*
resource/sounds/objects/door/doorLoop.wav*
resource/sounds/player/jump.wav*
resource/sounds/player/landing.wav*
resource/sounds/stairs.wav*
resource/sounds/situation/gameover.wav*
resource/sounds/situation/gameover1.wav*
resource/sounds/situation/gameover2.wav*
resource/sounds/situation/win1.wav*
resource/sounds/steps/1.m4a
resource/sounds/steps/2.flac
resource/sounds/steps/3.flac
resource/sounds/steps/4.flac
resource/sounds/steps/5.flac*
resource/sounds/steps/5.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_1.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_2.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_3.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_4.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_5.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_6.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_7.wav*
resource/sounds/steps/pack/jute-dh-steps/stepdirt_8.wav*
resource/sounds/steps/pack/jute-dh-steps/stepsnow_1.wav*
resource/sounds/steps/pack/jute-dh-steps/stepsnow_2.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_1.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_2.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_3.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_4.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_5.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_6.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_7.wav*
resource/sounds/steps/pack/jute-dh-steps/stepstone_8.wav*
resource/sounds/steps/pack/jute-dh-steps/stepwater_1.wav*
resource/sounds/steps/pack/jute-dh-steps/stepwater_2.wav*
resource/sounds/steps/pack/jute-dh-steps/stepwood_1.wav*
resource/sounds/steps/pack/jute-dh-steps/stepwood_2.wav*
resource/sounds/steps/rock/1.wav*
resource/sounds/steps/wood/1.wav*
resource/sounds/steps/wood/2.wav*
resource/sounds/steps/wood/3.wav*

